
/**************** Colors *******************/

/** Cream 	#FFF8DC
/** Tan		#DEB887
/** Brown	#5E3128

/** Light Green		#AFE1AF
/** Dark Green		#355E3B



/**************** Applies to entire page *******************/

.body {
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}


/**************** End Applies to entire page *******************/

/**************** Header *********************/

#header-nav {
	background-color: #355E3B;
	height: 90px;
	border-radius: 0;
	border: 0;
	box-shadow: 0 4px 2px -2px gray;
}

.navbar-brand {
	padding-top: 10px;
}

.navbar-brand h1 {
	font-family: 'Inter', sans-serif;
	color: #FFF8DC;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;

}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #5E3128;
  text-align: center;
  font-size: 1.8em;
  background-color: green;
}
#nav-list a:hover {
  background: #AFE1AF;
}


/**************** End Header *********************/


/************** Medium Devices Only **************/

 @media (min-width: 992px) {

}



/************** Small Devices Only **************/

@media (min-width: 768px) and (max-width: 991px) {

}






/************** Extra Small Devices Only **************/

  /* Header */

 @media (min-width: 767px) {

	.navbar-toggle {
	display: none;
}

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 { 
    padding-top: 10px;
  }
}