
/**************** Colors *******************/

/** Cream 	#FFF8DC
/** Tan		#DEB887
/** Dark Tan #e7cc96 
/** Brown	#5E3128

/** Light Green		#AFE1AF
/** Dark Green		#355E3B




/**************** Header *********************/


body {
		background-color: #e7cc96;
}

#header-nav {
	background-color: #5E3128;
	height: 90px;
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}

.navbar-brand {
	padding-top: 10px;
}

.navbar-brand h1 {
	font-family: 'Inter', sans-serif;
	color: #FFF8DC;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: .75;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  margin-top: 0px;
}

#nav-list a {
  color: #5E3128;
  text-align: center;
  font-size: 1.8em;
  background-color: #AFE1AF;
}

#nav-list a:hover {
  background: #FFF8DC;
}


/**************** End Header *********************/


/**************** Body **************************/


.page-title {
	color: #5E3128;
	font-weight: bold;
	font-size: 24px;
	margin: 24px;

}

.box {
	margin: 0px 24px 24px 24px;
	border: 2px solid #5E3128;
	background-color: #FFF8DC;
}


.menu-text {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #5E3128;
	text-justify: left;
	padding: 60px;
}


/************** Medium Devices Only **************/

 @media (min-width: 992px) {

}

/************** Small Devices Only **************/

@media (min-width: 768px) and (max-width: 991px) {


}






/************** Extra Small Devices Only **************/

  /* Header */

 @media (min-width: 767px) {

  .navbar-toggle {
	display: none;
}

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 { 
    padding-top: 10px;
  }

}